.name{
	color: #582C4D;
	text-align: center;
	font-size: 70px;
	font-family: 'Allura', cursive;
}
body{
	background: #D5B9B2;
}

.column{
	display: inline-block;
	margin: 0 auto auto auto;
	align-content: center;
	text-align: justify;
}

.row{
	align-content: center;
	text-align: center;
}